{#
/**
 * @file
 * Template for the Yahoo weather list block
 *
 * Available variables:
 * - weather_detail: array of weather list.
 */
#}
{% spaceless %}
  <div class="yahoo-weather-list">
    {% for var in weather_detail %}
      <div class="yahoo-weather">

        <div class="city"><h3>{{ var.location }}</h3></div>
        <div class="temperature">
          <span class="label"> {{ 'Temperature'|t }} </span>
          <span class="data">{{ var.temperature }} &deg;{{ var.temperature_unit }} {{ var.text }}</span>
        </div>

        {% if var.image %}
          <div class="image">
            <span class="data"><img src="{{ var.image }}.png"/></span>
          </div>
        {% endif %}

        {% if var.wind %}
          <div class="wind">
            <span class="label">{{ 'Wind speed'|t }} </span>
            <span class="data">{{ var.wind }}</span>
          </div>
        {% endif %}

        {% if var.humidity %}
          <div class="humidity">
            <span class="label">{{ 'Humidity'|t }} </span>
            <span class="data">{{ var.humidity }}</span>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endspaceless %}

